*{
	padding: 0px  ;
	margin: 0px;
    text-align:left;
}
.cc{
	background-image: url(../image/bj.png);
	background-repeat: no-repeat;
	
	width: 250px;
	height: 350px;
}
.bb{
	background-image: url(../image/header.png);	
	background-repeat: no-repeat;
    width: 210px;
    height: 60px;
}
.ee{
    background-image:url(../image/lvbiaoti.png);
    background-repeat: no-repeat;
    width: 170px;
    height: 20px;
    margin-left: 20px;
    margin-top: 15px;
    padding: 8px;
   
}

ul{
	list-style-type: none;
	text-align: center;

}
ul li{
	background-image: url(../image/baibiaoti.png);
	background-repeat: no-repeat;
	width: 170px;
    height: 20px;
    margin-left: 20px;
    padding: 8px ;
    text-align: center;
    



    margin-top: 15px;
}